@model BeerProjectTask.WebUI.Models.Beer

<div class="card p-3">
    <img class="card-img-top align-self-center" style="max-width: 20rem" src="@(Model.Labels?.Large ?? "https://imgplaceholder.com/420x420/ce8282/9a7171/glyphicon-bold")" alt="@Model.Name" />
    <div class="card-body text-secondary">
        <h3 class="card-title text-center mb-3">@Model.Name</h3>
        <div class="jumbotron mb-3">
            <h5 class="text-center">Description</h5>
            <hr class="my-2" />
            <div class="row">
                <p class="col-8">@(Model.Description ?? Model.Style?.Description ?? "No description")</p>
                <div class="col-4">
                    <h6 class="@(Model.Style == null ? "d-none" : "")">Style: @(Model?.Style?.ShortName)</h6>
                    <h6 class="@(Model.Style == null ? "d-none" : "")">Category: @(Model?.Style?.Category?.Name)</h6>
                    <h6 class="@(Model.Abv == null ? "d-none" : "")">Alkohol: @(Model.Abv)%</h6>
                    <h6 class="@(Model.Ibu == null ? "d-none" : "")">Bitterness: @(Model.Ibu)</h6>
                </div>
            </div>
            <hr class="my-4" />
            <div class="@(Model.Breweries == null? "d-none" : "")">
                <h5 class="text-center">Breweries</h5>
                <hr class="my-4" />
                <div class="row justify-content-around">
                    @foreach (var item in Model.Breweries)
                    {
                        <a class="card-link" href="@(item.Website ?? "#") ">
                            <div class="card border-secondary mb-3 p-1" style="width: 30rem">
                                <img class="card-img-top" src="@(item.Images?.Medium ?? "https://imgplaceholder.com/420x420/ce8282/9a7171/glyphicon-bold")" alt="@item.Name" />
                                <div class="card-body text-secondary">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@(item.Description ?? "No description")</p>
                                </div>
                                <div class="card-footer">Established: @(item.Established)</div>
                            </div>
                        </a>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
