@using BeerProjectTask.WebUI.DAL
@model BeerProjectTask.WebUI.Models.BeersListViewModel
<div class="row justify-content-around">
    @foreach (var item in Model.Data)
    {
        <div class="card border-secondary mb-3 p-1" style="width: 12rem">
            <img class="card-img-top" src="@(item.Labels?.Medium ?? "https://imgplaceholder.com/420x420/ce8282/9a7171/glyphicon-bold")" alt="@item.Name" />
            <div class="card-body text-secondary">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text" style="overflow:hidden; height: 6rem;">@(item.Description ?? item?.Style?.Description ?? "No description")</p>
                @Html.RouteLink("More details...", new { controller = "Home", action = "Details", id = item.Id }, new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
</div>

@{
    var options = ((BeersListSortFilterOptions)ViewData["Options"]).Parameters;
    var prevOptions = options.ToDictionary(kvp => kvp.Key, kvp => kvp.Value);
    prevOptions["p"] = (Model.CurrentPage - 1).ToString();
    var nextOptions = options.ToDictionary(kvp => kvp.Key, kvp => kvp.Value);
    nextOptions["p"] = (Model.CurrentPage + 1).ToString();
}
@if (Model.NumberOfPages > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-lg">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-all-route-data="prevOptions">Previous</a>
            </li>
            <li class="page-item @(Model.CurrentPage == Model.NumberOfPages ? "disabled" : "")">
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-all-route-data="nextOptions">Next</a>
            </li>
        </ul>
    </nav>
}
